
$toolbar-size: 52px;

.toolbar {
    position: fixed;
    left: 50%;
    margin-left: -$toolbar-size / 2;
    bottom: 5px;
}

.toolbar-item {
    position: relative;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    margin-top: 1px;

    &::after {
        content: '';
        position: absolute;
        right: $toolbar-size - 6px;
        bottom: -10px;
        width: 172px;
        @include opacity(0);
        @include scale(0.01);
        @include transition(all 1s);
        @include transform-origin(95% 95%);
        background: url(../../img/toolbar.png) no-repeat;
    }
    &:hover {
        .toolbar-btn {
            &::before {
                top: -$toolbar-size;
            }
            &::after {
                top: 0;
            }
        }
        &::after {
            @include opacity(1);
            @include scale(1);
        }
    }
}

.toolbar-btn {
    &,&::before,&::after {
       position: absolute;
       left: 0;
       width: $toolbar-size;
       height: $toolbar-size;
    }
    &::before, &::after {
       content: '';
       color: #fff;
       text-align: center;
       @include transition(top 1s);
    }
    top: 0;
    overflow: hidden;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before { // icon
        top: 0;
        line-height: $toolbar-size;
        background-color: #d0dcd9;
        font-size: 30px;
    }
    &::after { // text
        top: $toolbar-size;
        line-height: 1.2;
        background-color: #98a1a6;
        font-size: 12px;
        padding-top: 12px;
        white-space: pre; // 换行
    }
}

.icon-shouji:before {
    content: "\e653";
}

.icon-duihuakuang:before {
    content: "\e616";
}

.icon-weixin:before {
    content: "\e681";
}

.icon-yizhidingbu:before {
    content: "\e62b";
}

.toolbar-item-weixin {
    &::after { // 二维码
        content: '';
        height: 212px;
        background-position:  0 0;
    }
    .toolbar-btn {
        @extend .icon-weixin;
        &::after {
            content: "公众\A账号"
        }
    }
}

.toolbar-item-feedback {
    .toolbar-btn {
        @extend .icon-duihuakuang;
        &::after {
            content: "意见\A反馈"
        }
    }
}

.toolbar-item-top {
    .toolbar-btn {
        @extend .icon-yizhidingbu;
        &::after {
            content: "返回\A顶部"
        }
    }
}

.toolbar-item-app {
    &::after { // 二维码
        content: '';
        height: 194px;
        background-position:  0 -222px;
    }
    .toolbar-btn {
        @extend .icon-shouji;
        // &::before {
        //     content: "\e653";
        // }
        &::after {
            content: "APP\A下载"
        }
    }
}
